html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
  line-height: 36px;
}
@media (min-width: 1110px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 30px;
}
@media (min-width: 1110px) {
  h2 {
    font-size: 2.8rem;
    line-height: 42px;
  }
}

p {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
@media (min-width: 1110px) {
  p {
    font-size: 1.8rem;
  }
}

.social {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  margin-right: 12px;
}