html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
  line-height: 36px;
}
@media (min-width: 980px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 30px;
}
@media (min-width: 980px) {
  h2 {
    font-size: 2.8rem;
    line-height: 42px;
  }
}

p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 21px;
  font-weight: 400;
}
@media (min-width: 980px) {
  p {
    font-size: 1.8rem;
    line-height: 27px;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.card {
  margin: 0 auto 4rem;
  padding: 5rem 4rem;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.card p {
  color: hsl(208, 11%, 55%);
}
.card .card__content {
  text-align: center;
}
.card .card__image {
  width: 100%;
}
@media (min-width: 980px) {
  .card {
    padding: 4rem 2.7rem 4rem 11rem;
    max-width: 100%;
  }
  .card .card__content {
    text-align: left;
  }
}

.grid {
  display: grid;
  align-content: center;
  gap: 2.4rem 16rem;
  padding: 5rem 4rem;
}
.grid .card__content {
  align-self: center;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-1x2 .grid:nth-of-type(odd) .card__image {
    order: -1;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.callout {
  box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.1);
  min-width: 20rem;
  max-width: 80rem;
  border-radius: 15px;
  text-align: center;
  padding: 4rem 2.5rem;
}
.callout h2 {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 980px) {
  .callout h2 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.social {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  margin-right: 12px;
}

.btn, .btn-nav, .btn-pink, .btn-callout, .btn-hero {
  font-weight: bold;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}
.btn a, .btn-nav a, .btn-pink a, .btn-callout a, .btn-hero a {
  text-decoration: none;
}

.btn-pink, .btn-callout, .btn-hero {
  border-radius: 20px;
  background: hsl(322, 100%, 66%);
  padding: 1.3rem 0;
  width: 100%;
}
.btn-pink a, .btn-callout a, .btn-hero a {
  color: white;
}
.btn-pink:hover, .btn-callout:hover, .btn-hero:hover {
  background: #ff85d2;
}

.btn-hero {
  font-size: 1.2rem;
  max-width: 28rem;
}
@media (min-width: 768px) {
  .btn-hero {
    font-size: 1.4rem;
    padding: 1.7rem 0;
    border-radius: 28px;
  }
}

.btn-callout {
  font-size: 1rem;
  width: 20rem;
}
@media (min-width: 980px) {
  .btn-callout {
    width: 40rem;
    font-size: 2rem;
    padding: 2.4rem 0;
    border-radius: 40px;
  }
}

.btn-nav {
  font-size: 1rem;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 0.7rem 0;
  width: 9.6rem;
}
.btn-nav a {
  color: hsl(192, 100%, 9%);
}
.btn-nav a:hover {
  color: hsl(208, 11%, 55%);
}
@media (min-width: 768px) {
  .btn-nav {
    font-size: 1.4rem;
    border-radius: 24px;
    padding: 1.7rem 0;
    width: 20rem;
  }
}

.card {
  margin: 0 auto 4rem;
  padding: 5rem 4rem;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.card p {
  color: hsl(208, 11%, 55%);
}
.card .card__content {
  text-align: center;
}
.card .card__image {
  width: 100%;
}
@media (min-width: 980px) {
  .card {
    padding: 4rem 2.7rem 4rem 11rem;
    max-width: 100%;
  }
  .card .card__content {
    text-align: left;
  }
}