<section class="container">
  <!-- Card 1 -->
  <div class="card grid grid-1x2">
    <img
      class="card__image"
      src="images/illustration-grow-together.svg"
      alt=""
    />
    <div class="card__content">
      <h2>Grow Together</h2>
      <p>
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="card grid grid-1x2">
    <img
      class="card__image"
      src="images/illustration-flowing-conversation.svg"
      alt=""
    />
    <div class="card__content">
      <h2>Flowing Conversations</h2>
      <p>
        You wouldn't paginate a conversation in real life, so why do it online?
        Our threads have just-in-time loading for a more natural flow.
      </p>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="card grid grid-1x2">
    <img class="card__image" src="images/illustration-your-users.svg" alt="" />
    <div class="card__content">
      <h2>Your Users</h2>
      <p>
        It takes no time at all to integrate Huddle with your app's
        authentication solution. This means, once signed in to your app, your
        users can start chatting immediately.
      </p>
    </div>
  </div>
</section>
