<footer class="footer">
  <div class="grid grid-1x4 container">
    <div class="item-1">
      <div class="footer__text-icon">
        <img src="images/icon-location.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
      <div class="footer__text-icon">
        <img src="images/icon-phone.svg" alt="" />
        <p>+1-543-123-4567</p>
      </div>
      <div class="footer__text-icon">
        <img src="images/icon-email.svg" alt="" />
        <p>example@huddle.com</p>
      </div>
    </div>
    <div class="item-2">
      <a href="#">About Us</a>
      <a href="#">What We Do</a>
      <a href="#">FAQ</a>
    </div>
    <div class="item-3">
      <a href="#">Career</a>
      <a href="#">Blog</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="item-4">
      <div class="social">
        <span class="icon-container">
          <i class="fab fa-instagram icon"></i>
        </span>
        <span class="icon-container">
          <i class="fab fa-facebook-f icon"></i>
        </span>
        <span class="icon-container">
          <i class="fab fa-twitter icon"></i>
        </span>
      </div>
      <p class="footer__text">
        &copy;copyright 2023 Huddle. All rights reserved.
      </p>
    </div>
  </div>
</footer>
