<section class="hero">
  <div class="grid grid-1x2 container">
    <div class="hero__content">
      <h1>Build The Community Your Fans Will Love</h1>
      <p>
        Huddle re-imagines the way we build communities. You have a voice, but
        so does your audience. Create connections with your users as you engage
        in genuine discussion.
      </p>
      <button class="btn-hero"><a href="#">Get Started For Free</a></button>
    </div>
    <img src="images/illustration-mockups.svg" alt="" />
  </div>
</section>
